/Jocation_v1.2/
/JocationEvo/bin/
/JocationEvo/obj/
/packages/
/.vs/
/JocationEvo/publish/
/JocationEvo/bin/
/JocationEvo/obj/
/JocationEvo/drivers/
/Jocation_v1.5/
/packages/
/app/
/JocationEvo/drivers/
/drivers/11.3/
/drivers/11.4/
/drivers/12.0/
/drivers/12.1/
.git/
/JocationEvo_v1.6/
/JocationEvo_v1.7/
/JocationEvo_v1.7.1/
/JocationEvo_v1.8/
*.zip